torch
torchvision
torchaudio
accelerate
transformers
streamlit
os
numpy
pandas
sentence-transformer
langchain
langchain_community
langchain-huggingface
langchain_groq
langchain-ollama
mysql-connector
chromadb
nltk 
rouge-score 
rouge
psutil 
ragas
sacrebleu
json
time
asyncio
re

# to run: pip install -r requirements.txt